:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  background-color: var(--light-gray);
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

img {
  width: 100%;
  display: block;
  margin-bottom: 1.5em;
}

.container {
  border: 1px solid var(--white);
  background-color: var(--white);
  padding: 0.75em;
  width: 280px;
  height: auto;
}

img,
.container {
  border-radius: 15px;
}

h1,
p {
  text-align: center;
  color: var(--dark-blue);
}

h1 {
  font-weight: 700;
  font-size: 1.2rem;
}

p {
  font-weight: 400;
  color: var(--grayish-blue);
  margin: 0.85em 0.85em 1.5em;
}

.attribution {
  text-align: center;
  margin-top: 1.2em;
}

.attribution p {
  margin: 0 0 0.5em;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
